<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="/css/global.css">
</head>
<body>

  <nav>
    <ul>
      <li><a href="/">All posts</a></li>
      <li><a href="/new">New post</a></li>
    </ul>
  </nav>  
  <%- body %>
</body>
</html>