<h1><%= post.title %></h1>

<p><%= post.body %></p>

<form action="/<%= post.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete" class="waves-effect waves-light btn">
</form> 


