<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
</head>
<body>
  
   <% include partials/navigation  %>
  
   <!-- our template content will be injected here -->
   <%- body %>

</body>
</html>