<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  
   <% include partials/navigation  %>
   <% include partials/messages %>
  
   <!-- our template content will be injected here -->
   <%- body %>

</body>
</html>